@{
    ViewData["Title"] = "شهر فیلم";
    Layout = "";
}
<link href="~/css/site.css" rel="stylesheet" />
<!DOCTYPE HTML>
<html>
<head>
    <title>شهر فیلم </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Aerial by HTML5 UP</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="/css/skel.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/style-wide.css"/>
        <link rel="stylesheet" href="/css/style-noscript.css"/>
    </noscript>
</head>
<body class="loading">
    <div id="wrapper">
        <div id="bg"></div>
        <div id="overlay"></div>
        <div id="main">

            <!-- Header -->
            <header id="header">
                <h1>شهر فیلم</h1>
                <nav>
                    <ul>
                        <li><a href="#" class="headerCategoryMenu">سریال</a></li>
                        <li><a href="#" class="headerCategoryMenu">خارجی</a></li>
                        <li><a href="#" class="headerCategoryMenu">ایرانی</a></li>
                        <li><a href="#" class="headerCategoryMenu">انیمیشن</a></li>
                    </ul>
                    <div class="button button-1"><a asp-controller="Home" asp-action="Home" style="margin-top: 30px;font-weight:bold ">شروع</a></div>
                </nav>

            </header>
            <!-- Footer -->
            <!--<footer id="footer">
                <span class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
            </footer>-->

        </div>
    </div>
</body>
</html>