@model CityOfMovie.Core.DTOs.ChangePasswordVm
@{
    ViewData["Title"] = "شهر فیلم :: بازیابی کلمه عبور";
}
<link href="~/css/RegisterAndLogin.css" rel="stylesheet" />

<h1 class="text-warning mt-4">بازیابی کلمه عبور</h1>
<hr style="color: darkgray" />
<section class="form-register">
    <form method="post" asp-action="ChangePassword" autocomplete="off">
        <div class="row">
            <input asp-for="ActiveCode" type="hidden" />
            <div class="Inputs-div col-6">
                <div class="register-input-div Register-password">
                    <label asp-for="Password" class="form-label register-label"></label>
                    <input asp-for="Password" type="password" class="register-inputs form-control"/>
                </div>
                <div class="register-input-div Register-repassword">
                    <label asp-for="RePassword" class="form-label register-label"></label>
                    <input asp-for="RePassword" type="password" class="register-inputs form-control"/>
                </div>

                <div class="register-btn mt-4">
                    <button asp-action="ChangePassword" type="submit" class="btn btn-danger">ذخیره</button>
                    <a asp-controller="Home" asp-action="Home" class="btn btn-warning">بازگشت</a>
                </div>
            </div>
            <div class="validation-div col-6 mt-4">
                <div asp-validation-summary="All" class="Validation-errors"></div>
            </div>
        </div>
    </form>
</section>


