@model CityOfMovie.Core.DTOs.ForgotPasswordVm
@{
    ViewData["Title"] = "شهر فیلم :: بازیابی کلمه عبور";
} 
<link href="~/css/RegisterAndLogin.css" rel="stylesheet" />
<h1 class="text-warning mt-4">بازیابی کلمه عبور</h1>
<hr style="color: darkgray" />
<section class="form-forgotPassword">
    @if (ViewBag.isSucced != null)
    {
       
        <p class="text-warning">
            ایمیل بازیابی کلمه عبور برای شما ارسال شد
        </p>
        <script>
            var delay = 3000;
            setTimeout(function(){ window.location = "/Home/Home"; }, delay);
        </script>
       
    }
    <form method="post" asp-action="ForgotPassword" autocomplete="off">
        <div class="row">
            <div class="Inputs-div col-6 mt-4">
                <div class="forgotPassword-input-div">
                    <label asp-for="Email" class="form-label Login-label"></label>
                    <input asp-for="Email" type="text" class="login-inputs form-control"/>
                </div>
                <div class="forgotPassword-btn mt-4">
                    <button asp-action="ForgotPassword" type="submit" class="btn btn-danger">بازیابی کلمه عبور</button>
                    <a asp-controller="Home" asp-action="Home" class="btn btn-warning">بازگشت</a>
                </div>
            </div>
            <div class="validation-div col-6 mt-4">
                <div asp-validation-summary="All" class="Validation-errors"></div>
            </div>
        </div>
    </form>
</section>


 