@{
    Layout = "_Layout";
}
<link href="~/css/RegisterAndLogin.css" rel="stylesheet" />

<h2 class="text-warning">کاربر عزیز !</h2>
<p class="alert alert-danger">ثبت نام شما با موفقیت انجام شد و ایمیل حاوی کد فعال سازی برای شما ارسال شد . برای فعال سازی حساب کاربری خود ، در ایمیل ارسال شده روی فعال سازی حساب کلیک کنید</p>


