@*@using CityOfMovie.Core.DTOs
@model UserFilterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserFilters</title>
</head>
<body>
    <form id="filterInputsForm" method="post" asp-action="jsonList">
        <input onkeyup="filterUserlist()" id="userName" asp-for="username" placeholder="نام کاربری"  />
        <input onkeyup="filterUserlist()" id="email" asp-for="email" placeholder="ایمیل" />
        <button  type="submit" asp-action="jsonList"><i class="fa-solid fa-filter"></i></button>
        <a href="Admin"><i class="fa-solid fa-arrows-rotate"></i></a>
    </form>
</body>
</html>*@
