@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir/Vazir-FD-WOL.woff2") format("woff2"), url("/fonts/Vazir/Vazir-FD-WOL.woff") format("woff"), url("/fonts/Vazir/Vazir-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
  direction: rtl;
  font-family: Vazir !important;
}
body #sidebar {
  background-color: #24282f;
  width: 280px;
  padding: 0;
  height: 100vh;
}
body .menu {
  align-items: baseline !important;
  height: 50px;
  padding: 10px;
  width: stretch;
}
body .menu a {
  text-decoration: none;
  color: #c4b7b7;
  position: relative;
}
body .menu i {
  margin-right: 5px;
  margin-left: 15px;
  color: #c4b7b7;
}
body .menu:hover {
  cursor: pointer;
  background: #070707;
}
body .menu:hover a, body .menu:hover i {
  color: white;
}
body #user-information {
  background-color: lightblue;
  background-size: cover;
  width: 100%;
}

.AdminPanel-UserList .adminPanel-body {
  padding: 20px 40px;
}
.AdminPanel-UserList .adminPanel-body h2 {
  font-weight: bold;
}

/*Admin UserList=======================================*/
.filter-inputs {
  margin-top: 30px;
}
.filter-inputs input {
  outline: none;
  border: none;
  box-shadow: inset 2px 2px 5px lightblue, inset -2px -2px 3px lightblue;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  padding: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 5px #6797a5, 2px 2px 5px #6797a5;
}
.filter-inputs input:focus {
  color: chocolate;
  box-shadow: inset 1px 1px 2px #6797a5, 1px 1px 3px #6797a5;
}
.filter-inputs button, .filter-inputs a {
  background: none;
  border: none;
  color: darkblue;
  font-size: 20px;
  display: inline-block;
}
.filter-inputs button:hover, .filter-inputs a:hover {
  color: chocolate;
  transform: translateY(-3px);
}

.userList {
  margin-top: 10px;
}

.table-buttons button:first-child {
  color: green;
}
.table-buttons button:last-child {
  color: red;
}
.table-buttons button {
  background: none;
  border: none;
}
.table-buttons button:hover {
  transform: translateY(-3px);
}

td, th {
  text-align: center;
}

td {
  line-height: 5px;
}
td p {
  display: inline-block;
  font-size: 13px;
  margin: auto;
}

table {
  box-shadow: 2px 2px 5px #8fafb9, -2px -2px 5px #8fafb9;
  border-radius: 10px;
}

.page-number ul {
  display: flex;
  list-style: none;
}
.page-number ul li {
  text-align: center;
  padding: 1px;
}
.page-number ul a {
  border-radius: 5px;
  display: inline-block;
  width: 20px !important;
  box-shadow: 2px 2px 5px #6797a5, 2px 2px 5px #6797a5;
}
.page-number ul a.active {
  box-shadow: inset 1px 1px 2px #6797a5, 1px 1px 3px #6797a5;
  text-decoration: none;
}
