@using CityOfMovie.Core.DTOs
@model EditPasswordVm
@{
    ViewData["Title"] = "شهر فیلم :: ویرایش کلمه عبور";
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}

<div id="user-information-body">

    <h4>اطلاعات کاربری</h4>
    <hr>
    @if(ViewBag.User == true)
    {
         <p class="text-warning">
               کلمه عبور شما با موفقیت تغییر پیدا کرد
           </p>
           <script>
               var delay = 3000;
               setTimeout(function(){ window.location = "/UserPanel"; }, delay);
           </script>
    }
    <form method="post" asp-action="EditPassword">
        <div class="information-section ">
            <div class="edit-information information d-flex">
                <h6>کلمه عبور :</h6>
                <input asp-for="OldPassword"class="editUserInformation" style="margin-right:79px" type="password" />
                <span asp-validation-for="OldPassword"></span>

            </div>
            <div class="edit-information information d-flex ">
                <h6>کلمه عبور جدید :</h6>
                <input asp-for="Password" class="editUserInformation " style="margin-right:44px" type="password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="edit-information information d-flex ">
                <h6>تکرار کلمه عبور جدید :</h6>
                <input asp-for="Repassword" class="editUserInformation " style="margin-right:10px" type="password" />
                <span asp-validation-for="Repassword"></span>

            </div>
            <div dir="ltr" style="margin-top:180px" class="edit-user-information-button">
                <button class="btn btn-danger" type="submit" asp-controller="UserPanel" asp-action="EditPassword">اعمال تغییرات</button>
            </div>
        </div>
    </form>
</div>

