
@model CityOfMovie.Data.Entities.User.User
<div dir="rtl">
    <h2>@Model.UserName عزیز</h2>
    <p>با تشکر از ثبت نام شما در شهر فیلم</p>
    <p>لطغا برای فعال کردن حساب کاریری خود روی لینک زیر کلیک کنید</p>
    <a href="https://localhost:7227/Account/ActiveUser/@Model.ActiveCode">فعال سازی حساب کاربری</a>
</div>