@model CityOfMovie.Data.Entities.User.User
<div dir="rtl">
<h2>@Model.UserName عزیز</h2>
    <p>لطفا برای تعیین کلمه عبور جدید روی لینک زیر کلیک کنید</p>
<a href="https://localhost:7227/Account/ChangePassword?activeCode=@Model.ActiveCode">بازیابی کلمه عبور</a>
</div>